<mat-toolbar class="mat-elevation-z5">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
    @if (darkMode()) {
    <img src="/assets/bm_logo_white.png" alt="" width="60">
    } @else {
    <img src="/assets/bm_logo_black.png" alt="" width="60">
    }
    <span class="toolbar-spacer"></span>
    <button mat-icon-button (click)="darkMode.set(!darkMode())">
        @if (darkMode()) {
        <mat-icon>light_mode</mat-icon>
        } @else {
        <mat-icon>dark_mode</mat-icon>
        }
    </button>
    <button mat-icon-button [routerLink]="'/login'">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-custom-sidenav [collapsed]="collapsed()"></app-custom-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>