<mat-toolbar class="mat-elevation-z5">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    @if (darkMode()) {
    <img src="/assets/bm_logo_white.png" alt="" width="60">
    } @else {
    <img src="/assets/bm_logo_black.png" alt="" width="60">
    }
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="darkMode.set(!darkMode())">
        @if (darkMode()) {
        <mat-icon>light_mode</mat-icon>
        } @else {
        <mat-icon>dark_mode</mat-icon>
        }
    </button>
    <button mat-icon-button [routerLink]="'/login'">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>