:host * {
    transition: 500ms ease-in-out;
}

.sidenav-header {
    display: none;
    padding-top: 24px;
    text-align: center;

    >img {
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .header-text {
        height: 3rem;

        >h2 {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
        }

        >p {
            margin: 0;
            font-size: 0.8rem;
            
        }
    }
    .hide-header-text {
        opacity: 0;
        height: 0px !important;
    }
    
}

.selected-menu-item {
    border-left: 5px solid;
    border-left-color: var(--primary-color);
    border-radius: 0 !important;
    color: var(--primary-color) !important;
}

.nav-title-active {
    text-transform: uppercase;
    font-size: 0.80rem;
    font-weight: bold;
    color: var(--primary-color) !important;
}

.nav-title {
    text-transform: uppercase;
    font-size: 0.75rem;
}

.nav-icon-active {
    color: var(--primary-color) !important;
}